{% load static %}


<div class="block-group alignfull has-global-padding is-layout-constrained block-group-is-layout-constrained"
     id="advantages"
     style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--80);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--80);padding-left:var(--preset--spacing--50)">
  <h1 class="block-heading has-text-align-center">ПРО КУРС</h1>
  <br>

  <h2 class="block-heading has-text-align-center">Унікальна програма від Катерини Агафонової</h2>
  <br>

  <p class="has-text-align-center">9 тренувань, тривалістю по 45 хв, які дозволять тобі відчути кожен мʼяз твого
    тіла, підтягнути форму, покращити стан шкіри, самопочуття</p>


  <p class="has-text-align-center">Програма курсу допоможе тобі позбутися болю в суглобах та мʼязах, покращити сон,
    відчути легкість, енергію та впевненість в собі.</p>
  <br>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-5 block-columns-is-layout-flex"
      style="margin-top:0px;margin-bottom:0px">
    <div
        class="block-column is-vertically-aligned-center is-layout-flow container-core-column-is-layout-12 block-column-is-layout-flow">
      <div
          class="block-columns is-layout-flex container-core-columns-is-layout-4 block-columns-is-layout-flex">
        <div class="block-column is-layout-flow block-column-is-layout-flow">
          <div
              class="block-group is-vertical is-layout-flex container-core-group-is-layout-14 block-group-is-layout-flex">
            <div
                class="block-group is-nowrap is-layout-flex container-core-group-is-layout-13 block-group-is-layout-flex">
              <p class="has-medium-font-size" style="line-height:1"><strong>✓</strong></p>
              <p class="has-medium-font-size"><strong>3</strong></p>
            </div>
            <p>тижнева програма тренувань </p>
          </div>
        </div>


        <div class="block-column is-layout-flow block-column-is-layout-flow">
          <div
              class="block-group is-vertical is-layout-flex container-core-group-is-layout-16 block-group-is-layout-flex">
            <div
                class="block-group is-nowrap is-layout-flex container-core-group-is-layout-15 block-group-is-layout-flex">
              <p class="has-medium-font-size" style="line-height:1"><strong>✓</strong></p>
              <p class="has-medium-font-size"><strong>9</strong></p>
            </div>

            <p>різноманітних тренувань</p>
          </div>
        </div>


        <div class="block-column is-layout-flow block-column-is-layout-flow">
          <div
              class="block-group is-vertical is-layout-flex container-core-group-is-layout-18 block-group-is-layout-flex">
            <div
                class="block-group is-nowrap is-layout-flex container-core-group-is-layout-17 block-group-is-layout-flex">
              <p class="has-medium-font-size" style="line-height:1"><strong>✓</strong></p>


              <p class="has-medium-font-size"><strong>2</strong></p>
            </div>


            <p>місяці доступу</p>
          </div>
        </div>


        <div class="block-column is-layout-flow block-column-is-layout-flow">
          <div
              class="block-group is-vertical is-layout-flex container-core-group-is-layout-20 block-group-is-layout-flex">
            <div
                class="block-group is-nowrap is-layout-flex container-core-group-is-layout-19 block-group-is-layout-flex">
              <p class="has-medium-font-size" style="line-height:1"><strong>✓</strong></p>


              <p class="has-medium-font-size"><strong>45</strong></p>
            </div>


            <p>хвилин занять</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
