{% load static %}


<div class="block-group alignfull has-global-padding is-layout-constrained block-group-is-layout-constrained"
     id="advantages"
     style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--50)">
  <h1 class="block-heading has-text-align-center">Про курс</h1>
  <br>

  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-10 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained "
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">

          <p class="has-foreground-color has-text-color has-text-align-center">
            <strong>Унікальна програма від Катерини Агафонової</strong>
          </p>
          <p class="has-foreground-color has-text-color has-text-align-center">
            9 тренувань, тривалістю по 45 хв, які дозволять тобі відчути кожен мʼяз твого
            тіла, підтягнути форму, покращити стан шкіри, самопочуття
          </p>

          <p class="has-foreground-color has-text-color has-text-align-center">
            Програма курсу допоможе тобі позбутися болю в суглобах та мʼязах, покращити сон,
            відчути легкість, енергію та впевненість в собі.
          </p>

        </div>

      </div>
    </div>
  </div>


  <div class="block-columns alignwide is-layout-flex container-core-columns-is-layout-2 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow hide-left show"
         style="flex-basis:100%;padding: 10px">
      <div class="block-group is-nowrap is-layout-flex container-core-group-is-layout-6 block-group-is-layout-flex"
           style="justify-content: center">
        <img src="{% static 'icons/numbers/number-3-9.svg' %}" width="40px"
             style="justify-content: center; align-content: center" alt="Number 3">
        <p class="has-text-align-left"
           style="font-size:clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.227), 16px);line-height:1.7">тижнева програма
          тренувань</p>
      </div>
    </div>

    <div class="block-column is-layout-flow block-column-is-layout-flow hide-right show"
         style="flex-basis:100%;padding: 10px">
      <div class="block-group is-nowrap is-layout-flex container-core-group-is-layout-6 block-group-is-layout-flex"
           style="justify-content: center">
        <img src="{% static 'icons/numbers/number-9-6.svg' %}" width="40px"
             style="justify-content: center; align-content: center" alt="Number 9">
        <p class="has-text-align-left"
           style="font-size:clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.227), 16px);line-height:1.7">різноманітних
          тренувань</p>
      </div>
    </div>

  </div>

  <div class="block-columns alignwide is-layout-flex container-core-columns-is-layout-2 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow hide-left show"
         style="flex-basis:100%;padding: 10px">
      <div class="block-group is-nowrap is-layout-flex container-core-group-is-layout-6 block-group-is-layout-flex"
           style="justify-content: center">
        <img src="{% static 'icons/numbers/number-2-9.svg' %}" width="40px"
             style="justify-content: center; align-content: center" alt="Number 2">
        <p class="has-text-align-left"
           style="font-size:clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.227), 16px);line-height:1.7">місяці доступу до
          курсу</p>
      </div>
    </div>

    <div class="block-column is-layout-flow block-column-is-layout-flow hide-right show"
         style="flex-basis:100%;padding: 10px">
      <div class="block-group is-nowrap is-layout-flex container-core-group-is-layout-6 block-group-is-layout-flex"
           style="justify-content: center">
        <img src="{% static 'icons/numbers/number-45.svg' %}" width="40px"
             style="justify-content: center; align-content: center" alt="Number 45">
        <p class="has-text-align-left"
           style="font-size:clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.227), 16px);line-height:1.7">хв тривалість
          тренування</p>
      </div>
    </div>

  </div>

</div>
