{% load static %}

<div
    class="block-group aligncenter has-global-padding"
    id="faq"
    style="padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--50)">
  <h2 class="block-heading has-text-align-center" style="padding-bottom: 30px">Залишились питання?</h2>


  <div
      class="block-group aligned has-global-padding has-text-align-left"
      style="padding-left: 10%; padding-right: 10%">

    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size">
          <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>  Скільки триватиме цей курс і як часто
          треба виконувати тренування?
        </p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>Курс розрахований на 3-4 тижні, в залежності від кількості тренувань на тиждень. Початківцям рекомендується
            2 тренування, а досвідченим - 3 тренування на тиждень. Доступ до курсу 6 тижнів, що дасть можливість
            повторити деякі тренування, закріпивши результат, або наздогнати групу, якщо почнеш курс пізніше.</p>
        </div>
      </div>
    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>  Які результати я можу очікувати і за
          який час?
          </p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">

          <p>Перші результати по зміні самопочуття ти відчуєш вже після 3-ьох тренувань, а по закінченню курсу ти
            побачиш явне покращення фігури, повне розуміння як харчуватись, щоб продовжити шлях до омріяних форм і
            бажання зробити тренування і правильне харчування стилем життя.</p>
        </div>
      </div>

    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                             class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>  Чи потрібно використовувати спеціальне
          обладнання або можна обійтися без нього?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>Наші тренування проходять, як з власною вагою, так і з обладнанням, яке легко замінюється на сумки,
            рюкзаки, колготи, пляшки з водою.
            Перед кожним тренуванням буде анонсовано, що треба підготувати на наступний раз. </p>
        </div>
      </div>

    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>
          Чи є підтримка або консультації від
          тренера під час курсу?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>Тільки в тарифі Бенефітіще є підтримка від тренера курсу і його учасниць.</p>
        </div>
      </div>
    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>
          Які рекомендації щодо харчування ви
          надаєте?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>У кожної учасниці курсу буде доступ до лекції по основам харчування і в тарифі Бенефітіще є воркбук з
            контролем харчування і корисними порадами по налагоджуванню стосунків з харчуванням.</p>
        </div>
      </div>
    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                  class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>
          Чи є гарантія на результати, або
          можливість повернення коштів?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>Гроші за курс поверненню не підлягають. При наявності поважної причини (з документальним
            підтвердженням),
            з якої курс був пропущений або пройдений в не повній мірі, ми можемо продовжити доступ до курсу.
            Виконуючи
            всі рекомендації і тренування ви точно отримаєте результат.</p>
        </div>
      </div>
    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                    class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>
          Чи можна пристосувати тренування
          до
          мого рівня фізичної підготовки?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>Так, тренер постійно проговорює варіації вправ. Тому курс підійде як новачкам в спорті, так і
            досвідченим
            атлетам.</p>
        </div>
      </div>
    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>
          Що входить у вартість курсу і чи
          є
          додаткові витрати?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>Вартість курсу залежить від тарифу.
            Є 2 тарифи «Бенефітик» і «Бенефітище». В перший входить: 9 тренувань, 3 лекції, доступ 6 тижнів
            до матеріалів, а в другий: все, що в першому + чат підтримки з учасницями і тренером, воркбук
            (календар курсу, відслідковування результатів, трекер тренувань, відслідковування відчуттів і рівня підготовки,
            перевірка воркбука тренером).</p>
        </div>
      </div>
    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
           style="border-radius:8px; padding: 5px 10px 5px">
        <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>
          Чи є відгуки або реальні історії успіху від інших учасників курсу?
          </p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
             style="display: none; padding-left: 3%">
          <p>Ви першими проходите оновлений курс Бенефіт, але на моїй сторінці є відгуки дівчат, які тренувались
            зі мною на різних офлайн і онлайн платформах. Також там є моя історія схуднення.</p>
        </div>
      </div>
    </div>
    <br>
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-is-layout-flow">
        <div class="block-column is-layout-flow block-column-is-layout-flow has-primary-background-color"
             style="border-radius:8px; padding: 5px 10px 5px">

          <p class="has-foreground-color has-text-color has-medium-font-size"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="faq-icon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></span>
            Як буде відбуватися взаємодія з іншими
            учасниками курсу?
            </p>
          <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer"
               style="display: none; padding-left: 3%">
            <p>В тарифі Бенефітіще є доступ до чату з учасницями і тренером, де кожен день будуть проходити
              опитування,
              перевірки домашніх завдань і відповіді на питання, які може поставити кожна учасниця в
              будь-якій
              кількості.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>