{% load static %}

<div
    class="block-group alignfull has-global-padding is-layout-constrained container-core-group-is-layout-46 block-group-is-layout-constrained"
    id="faq"
    style="padding-top:var(--preset--spacing--70);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--70);padding-left:var(--preset--spacing--50)">
  <h2 class="block-heading aligncenter">ЧАСТІ ЗАПИТАННЯ</h2>


  <div
      class="block-group aligned has-global-padding is-layout-constrained block-group-is-layout-constrained">
    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size"><strong><strong>Якщо мені не вистачатиме
          часу?</strong></strong></p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Ми знаємо, що буває дуже важко знайти час на тренування. Тому ми спеціально зробили їх короткими, щоб
            їх
            було легко втиснути в щільний розклад будь-якої людини.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size"><strong>Буду лінуватися і закину</strong>
        </p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Програма тренувань складена таким чином, щоб ви отримували не тільки користь, а й задоволення. Адже
            коли
            нам щось подобається, набагато простіше знайти на це час і сили.</p>
        </div>
      </div>

    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size"><strong>Чи повинна я мати досвід тренувань,
          щоб почати цей курс?</strong></p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Ні, цей курс підійде як початківцям, так і тим, хто вже має досвід тренувань. Ми пропонуємо модифікації
            вправ для всіх рівнів фізичної підготовки.</p>
        </div>
      </div>

    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size"><strong>Що мені буде потрібно для
          тренувань?</strong></p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Необхідний інвентар для досягнення кращого результату — фітнес резинки (2 шт. різного рівня опору) та
            гантельки (або пляшки з водою) 2 шт. по 0.5-1 кг. Але якщо у вас вдома немає жодного обладнання, курс
            все
            одно буде корисно вам пройти. Ви навчитесь краще відчувати, контролювати та управляти своїм тілом.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size"><strong>Коли я почну бачити
          результати?</strong></p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Результати можуть варіюватися залежно від індивідуальних особливостей кожної людини, але багато
            учасників
            помічають перші результати вже після 5-го тренування.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">
  </div>
</div>
  