{% load static %}

<div
    class="block-group aligncenter has-global-padding"
    id="faq"
    style="padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--50)">
  <h2 class="block-heading has-text-align-center" style="padding-bottom: 30px">Залишились питання?</h2>


  <div
      class="block-group aligned has-global-padding has-text-align-left"
      style="padding-left: 10%; padding-right: 20%">

    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Скільки триватиме цей курс і як часто
          треба виконувати тренування?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Курс розрахований на 3-4 тижні, в залежності від кількості тренувань на тиждень. Початківцям рекомендується
            2 тренування, а досвідченим - 3 тренування на тиждень. Доступ до курсу 6 тижнів, що дасть можливість
            повторити деякі тренування, закріпивши результат, або наздогнати групу, якщо почнеш курс пізніше.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Які результати я можу очікувати і за
          який час?
        </p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Перші результати по зміні самопочуття ти відчуєш вже після 3-ьох тренувань, а по закінченню курсу ти
            побачиш явне покращення фігури, повне розуміння як харчуватись, щоб продовжити шлях до омріяних форм і
            бажання зробити тренування і правильне харчування стилем життя.</p>
        </div>
      </div>

    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Чи потрібно використовувати спеціальне
          обладнання або можна обійтися без нього?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Наші тренування проходять, як з власною вагою, так і з обладнанням, яке легко замінюється на сумки,
            рюкзаки, колготи, баклажки з водою.
            Перед кожним тренуванням буде анонсовано, що треба підготувати на наступний раз. </p>
        </div>
      </div>

    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Чи є підтримка або консультації від
          тренера під час курсу?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Тільки в тарифі Бенефітіще є підтримка від тренера курсу і його учасниць.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">


    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Які рекомендації щодо харчування ви
          надаєте?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>У кожної учасниці курсу буде доступ до лекції по основам харчування і в тарифі Бенефітіще є воркбук з
            контролем харчування і корисними порадами по налагоджуванню стосунків з харчуванням.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">

    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Чи є гарантія на результати, або
          можливість повернення коштів?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Гроші за курс поверненню не підлягають. При наявності поважної причини (з документальним підтвердженням),
            з якої курс був пропущений або пройдений в не повній мірі, ми можемо продовжити доступ до курсу. Виконуючи
            всі рекомендації і тренування ви точно отримаєте результат.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">

    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Чи можна пристосувати тренування до
          мого рівня фізичної підготовки?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Так, тренер постійно проговорює варіації вправ. Тому курс підійде як новачкам в спорті, так і досвідченим
            атлетам.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">

    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Що входить у вартість курсу і чи є
          додаткові витрати?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Вартість курсу залежить від тарифу.
            Є 2 тарифи «Бенефітік» і «Бенефітіще». В перший входить: 9 тренувань, 3 лекції, доступ 6 тижнів до
            матеріалів, а в другий: все, що в першму + чат підтримки з учасницями і тренером, воркбук (календар курсу,
            відслідковування результатів, трекер тренувань, відслідковування відчуттів і рівня підготовки, перевірка
            воркбука тренером.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">

    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
        <p class="has-primary-color has-text-color has-medium-font-size">Чи є відгуки або реальні історії успіху
          від інших учасників курсу?</p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>Ви першими проходите оновлений курс Бенефіт, але в трохи вище є відгуки дівчат, які тренувались зі мною на
            різних офлайн і онлайн платформах.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">

    <div
        class="block-columns aligned is-layout-flex container-core-columns-is-layout-13 block-columns-is-layout-flex faq-container"
        onclick="toggleContainer(this)">
      <div class="block-column is-layout-flow block-column-is-layout-flow">
  <button style="float: left; background: none; border: none" onclick="toggleContainer(this)"><i
              class='fa-solid fa-minus'></i></button>
        <p class="has-primary-color has-text-color has-medium-font-size">

          Як буде відбуватися взаємодія з іншими
          учасниками курсу?
        </p>
        <div class="block-column is-layout-flow block-column-is-layout-flow faq-answer" style="display: none">
          <p>В тарифі Бенефітіще є доступ до чату з учасницями і тренером, де кожен день будуть проходити опитування,
            перевірки домашніх завдань і відповіді на питання, які може поставити кожна учасниця в будь-якій
            кількості.</p>
        </div>
      </div>
    </div>


    <hr class="block-separator aligned has-text-color has-alpha-channel-opacity has-background is-style-wide"
        style="background-color:#4747471a;color:#4747471a">
  </div>
</div>
  