{% load static %}

<div class="block-group alignfull has-global-padding is-layout-constrained block-group-is-layout-constrained"
     id="author"
     style="margin-top:0;margin-bottom:0;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-9 block-columns-is-layout-flex">
    <div class="block-column is-vertically-aligned-center is-layout-flow block-column-is-layout-flow">
      <h2 class="block-heading has-text-align-center" style="margin-top:0; padding-bottom: 10px;">Хто я?</h2>


      <h3 class="block-heading has-text-align-left" style="margin-top:0">Привіт, мене звуть Катя</h3>

      <br>
      <p class="has-text-align-left">Я автор курсу, тренер з 9-річним досвідом,<br>засновниця 2-ох спортивних
        просторів
        в Києві і Івано-Франківську,<br>гімнастка і чемпіонка світу по запуску паперових літачків</p>

      <br>
      <p class="has-text-align-left">В 2022 році на фоні стресу я поправилась,<br>проходила шлях схуднення і
        заробила
        собі розлад харчової поведінки.<br>Вийшла з цього стану самостійно,<br>схуднувши на 10 кг за 2 місяці без
        важких
        тренувань і дієт.<br>Допоможу і тобі.</p>
      <br>
      <p class="has-text-align-left">В кар'єрі тренера мене кидало від підходу «присідати шкідливо»,<br>до підходу
        «а чому така маленька гантелька»)<br>Зараз використовую індивідуальний підхід навіть у величезних
        групах,<br>методом надання варіативності і
        пояснень до кожної вправи.<br><br>Моя мета закохати тебе в спорт і здорове харчування.<br>Тому, якщо не
        розумієш, як
        можна любити присідання і гречку з куркою,<br>велкам до нашого коммьюніті, ми харчуємось набагато смачніше і
        тренуємось цікавіше.</p>
      <br>
    </div>
  </div>
  <div class="block-columns alignwide is-layout-flex container-core-columns-is-layout-9 block-columns-is-layout-flex">
    <div class="block-column is-vertically-aligned-center is-layout-flow block-column-is-layout-flow">
      <h2 class="block-heading has-text-align-center" style="margin-top:0; padding-bottom: 10px;">Хто я?</h2>


      <h3 class="block-heading has-text-align-left" style="margin-top:0">Привіт, мене звуть Катя</h3>

      <br>
      <p class="has-text-align-left">Я автор курсу, тренер з 9-річним досвідом,<br>засновниця 2-ох спортивних
        просторів
        в Києві і Івано-Франківську,<br>гімнастка і чемпіонка світу по запуску паперових літачків</p>

      <br>
      <p class="has-text-align-left">В 2022 році на фоні стресу я поправилась,<br>проходила шлях схуднення і
        заробила
        собі розлад харчової поведінки.<br>Вийшла з цього стану самостійно,<br>схуднувши на 10 кг за 2 місяці без
        важких
        тренувань і дієт.<br>Допоможу і тобі.</p>
      <br>
      <p class="has-text-align-left">В кар'єрі тренера мене кидало від підходу «присідати шкідливо»,<br>до підходу
        «а чому така маленька гантелька»)<br>Зараз використовую індивідуальний підхід навіть у величезних
        групах,<br>методом надання варіативності і
        пояснень до кожної вправи.<br><br>Моя мета закохати тебе в спорт і здорове харчування.<br>Тому, якщо не
        розумієш, як
        можна любити присідання і гречку з куркою,<br>велкам до нашого коммьюніті, ми харчуємось набагато смачніше і
        тренуємось цікавіше.</p>
      <br>
    </div>
  </div>
</div>
