{% load static %}

<h2 class="block-heading has-text-align-center">Хто я?</h2>

<div class="block-group alignfull has-global-padding is-layout-constrained block-group-is-layout-constrained me-block"
     id="author"
     style="margin-top:0;margin-bottom:0;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">

  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-9 block-columns-is-layout-flex">

    <div
        class="block-columns alignwide is-layout-flex container-core-columns-is-layout-10 block-columns-is-layout-flex">
      <div class="block-column is-layout-flow block-column-is-layout-flow">

        <div
            class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">


          <div
              class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
              style="border-radius:8px;padding-top:var(--preset--spacing--20);padding-right:var(--preset--spacing--20);padding-bottom:var(--preset--spacing--20);padding-left:var(--preset--spacing--20);">


            <h3 class="block-heading has-text-align-left" style="margin-top:0">Привіт, мене звуть Катя</h3>
            <p class="has-text-align-left">Я автор курсу, тренер з 9-річним досвідом, засновниця 2-ох спортивних
              просторів в Києві і Івано-Франківську, гімнастка і чемпіонка світу по запуску паперових літачків</p>

            <p class="has-text-align-left">В 2022 році на фоні стресу я поправилась, проходила шлях схуднення і
              заробила собі розлад харчової поведінки.</p>
            <p class="has-text-align-left">Вийшла з цього стану самостійно, схуднувши на 10 кг за 2 місяці без
              важких тренувань і дієт. Допоможу і тобі.</p>
            <p class="has-text-align-left">В кар'єрі тренера мене кидало від підходу «присідати шкідливо», до підходу
              «а чому така маленька гантелька»).
            </p>
            <p class="has-text-align-left">Зараз використовую індивідуальний підхід навіть у величезних
              групах, методом надання варіативності і пояснень до кожної вправи.</p>
            <p class="has-text-align-left">Моя мета закохати тебе в спорт і здорове харчування. Тому, якщо не
              розумієш, як можна любити присідання і гречку з куркою, велкам до нашого коммьюніті, ми харчуємось
              набагато смачніше і тренуємось цікавіше.</p>
          </div>

        </div>
      </div>
    </div>
    <div class="block-column is-vertically-aligned-center is-layout-flow block-column-is-layout-flow">
      <img src="{% static 'images/me.png' %}" alt="me" class="me-block-image">
    </div>

  </div>

</div>