{% load static %}
{% load custom_filters %}


<div id="plans"
     class="block-group has-global-padding is-layout-constrained block-group-is-layout-constrained"
     style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--80);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--80);padding-left:var(--preset--spacing--50)">
  <h2 class="block-heading has-text-align-center">Тарифні плани</h2>
  <br>


  <div
      class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
    <div
        class="block-group has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained hide-left"
        style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
      <p class="has-tertiary-color has-text-color has-small-font-size"><strong>План “EXTENDED“</strong>
      </p>


      <h3 class="block-heading has-tertiary-color has-text-color has-link-color has-x-large-font-size elements-74404d736221a0f2aa7901986ef461b8">
        <span class="old-price">{{ extended_price|multiply:3 }} грн</span>
        <span class="discounted-price">{{ extended_price }} грн</span>
      </h3>


      <p class="has-tertiary-color has-text-color has-link-color has-x-large-font-size elements-272f31a695723fcf7713868f8342a78c">
        Тут теж треба придумати</p>


      <ul style="padding-right:var(--preset--spacing--40);padding-left:var(--preset--spacing--40)"
          class="has-tertiary-color has-text-color has-link-color elements-15142a5cf72d408041137522ef5f0db1">
        <li>Works with major design software</li>


        <li>One project per month</li>


        <li>Volunteer forum support</li>
      </ul>


      <div
          class="block-buttons is-content-justification-left is-layout-flex container-core-buttons-is-layout-2 block-buttons-is-layout-flex">
        <div class="block-button has-custom-width block-button__width-100 is-style-fill">
          <button
              class="block-button__link has-background-color has-secondary-background-color has-text-color has-background element-button"
              onclick="openForm('EXTENDED')">
            Купити зараз
          </button>
        </div>
      </div>
    </div>


    <div
        class="block-group has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-23 block-group-is-layout-constrained hide-right"
        style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
      <p class="has-tertiary-color has-text-color has-small-font-size"><strong>План “BASE“</strong>
      </p>


      <h3 class="block-heading has-tertiary-color has-text-color has-link-color has-x-large-font-size elements-74404d736221a0f2aa7901986ef461b8">
        <span class="old-price">{{ base_price|multiply:3 }} грн</span>
        <span class="discounted-price">{{ base_price }} грн</span>
      </h3>


      <p class="has-tertiary-color has-text-color has-link-color has-x-large-font-size elements-272f31a695723fcf7713868f8342a78c">
        Тут теж треба придумати</p>


      <ul style="padding-right:var(--preset--spacing--40);padding-left:var(--preset--spacing--40)"
          class="has-tertiary-color has-text-color has-link-color elements-15142a5cf72d408041137522ef5f0db1">
        <li>Works with major design software</li>


        <li>One project per month</li>


        <li>Volunteer forum support</li>
      </ul>


      <div
          class="block-buttons is-content-justification-left is-layout-flex container-core-buttons-is-layout-3 block-buttons-is-layout-flex">
        <div class="block-button has-custom-width block-button__width-100 is-style-fill">
          <button
              class="block-button__link has-background-color has-secondary-background-color has-text-color has-background element-button"
              onclick="openForm('BASE')">
            Купити зараз
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
