{% load static %}

<div
    class="block-group alignfull has-link-color elements-943cb8569dd031e5a4b5d743d2d10d46 has-global-padding is-layout-constrained container-core-group-is-layout-44 block-group-is-layout-constrained"
    id="program"
    style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--50);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--50);padding-left:var(--preset--spacing--50)">
  <h1 class="block-heading alignwide has-text-align-center" style="line-height:1.2">Які тренування мене чекають?</h1>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-10 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained "
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 1</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow " style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 2</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 3</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>
  </div>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-11 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 4</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 5</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 6</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>
  </div>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-12 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 7</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 8</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex"
          ">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized"><img
              src="https://dotcompatterns.files.wordpress.com/2023/08/pexels-cottonbro-studio-6739695.jpg?w=640"
              alt="" class="responsive-video"></figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 9</strong><br>Ти хочеш&nbsp;мати підтягнуте тіло без шкоди здоров’ю
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

