{% load static %}

<div
    class="block-group alignfull has-link-color elements-943cb8569dd031e5a4b5d743d2d10d46 has-global-padding is-layout-constrained container-core-group-is-layout-44 block-group-is-layout-constrained"
    id="program"
    style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--50);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--50);padding-left:var(--preset--spacing--50)">
  <h1 class="block-heading alignwide has-text-align-center" style="line-height:1.2">Які тренування мене чекають?</h1>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-10 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained "
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_1.gif' %}" alt="Promo 1">
          </figure>

          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 1</strong><br>Пекельні сіднички. Дане тренування зробить твої ноги стрункими, а сідниці
            округлими і пружними
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow " style="flex-basis:100%;">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60); height: 100%">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_2.gif' %}" alt="Promo 2">
          </figure>

          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 2</strong><br>Потужне кардіо. Це тренування на витривалість. Буде не легко, але ти
            впораєшся!
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_3.gif' %}" alt="Promo 3">
          </figure>

          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 3</strong><br>Барре старт. Cкладнокоординаційні вправи, що зроблять твоє тіло рельєфним і
            підтягнутим.
          </p>
        </div>

      </div>
    </div>
  </div>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-11 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_4.gif' %}" alt="Promo 4">
          </figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 4</strong><br>Привабливий верх. Тренування з акцентом на прес і руки з вагою (підготуйте
            гантелю або сумку з наповненням 5-10 кг).
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_5.gif' %}" alt="Promo 5">
          </figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 5</strong><br>М’язовий корсет. В цьому тренуванні ми пропрацьовуємо м‘язи кору. Завдяки
            ньому ти нарешті зробиш живіт плоским і підтягнутим.
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_6.gif' %}" alt="Promo 6">
          </figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 6</strong><br>Балет для сильних. Зв’язки на координацію і вправи на прокачку всього тіла
            змусять тебе попотіти.
          </p>
        </div>

      </div>
    </div>
  </div>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-12 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_7.gif' %}" alt="Promo 7">
          </figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 7</strong><br>Фул баді. Тренування на все тіло, що твої руки і ноги тремтіти. Необхідно
            підготувати сумку/рюкзак (5-10 кг) і бутилку води 1 кг.
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_8.gif' %}" alt="Promo 8">
          </figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 8</strong><br>Тотал хард. Знову прокачка всього тіла? Знову вага? Авжеж, останній тиждень
            як-не-як. Готуємо сумку/рюкзак (5-10 кг).
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/promo_9.gif' %}" alt="Promo 9">
          </figure>
          <p class="has-tertiary-color has-text-color has-small-font-size has-text-align-center">
            <strong>ТРЕНУВАННЯ 9</strong><br>Фініш барре. Заняття в якому включаються всі групи м’язів, в найкращих
            традиціях фітнес-балету.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

