<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Договір публічної оферти</title>
  {% load static %}
</head>
<body>
<div>

  <img src="{% static 'images/agreement/Screenshot 2024-04-11 172003.png' %}" alt="agreement1">
  <img src="{% static 'images/agreement/Screenshot 2024-04-11 172042.png' %}" alt="agreement1">
  <img src="{% static 'images/agreement/Screenshot 2024-04-11 172119.png' %}" alt="agreement1">
  <img src="{% static 'images/agreement/Screenshot 2024-04-11 172159.png' %}" alt="agreement1">
  <img src="{% static 'images/agreement/Screenshot 2024-04-11 172228.png' %}" alt="agreement1">

</div>
</body>
</html>
