{% load static %}

<div class="block-group alignfull has-global-padding is-layout-constrained block-group-is-layout-constrained"
     id="advantages"
     style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--80);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--80);padding-left:var(--preset--spacing--50)">
  <h2 class="block-heading alignwide has-text-align-center">ЧОМУ САМЕ ЦЕЙ КУРС?</h2>
  <br>


  <div style="height:1px" aria-hidden="true" class="block-spacer"></div>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-8 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow container-core-column-is-layout-19 block-column-is-layout-flow hide-right"
         style="flex-basis:25%">
      <p><strong>Якість</strong></p>


      <p class="has-small-font-size">We create experiences that exceed your expectations with a passion for
        perfection and attention to detail.</p>
    </div>


    <div class="block-column is-layout-flow container-core-column-is-layout-20 block-column-is-layout-flow hide-left"
         style="flex-basis:25%">
      <p><strong>Професійність</strong></p>


      <p class="has-small-font-size">We deliver top-notch service, and handle requests with expertise, ensuring your
        journey is smooth and hassle-free.</p>
    </div>


    <div class="block-column is-layout-flow container-core-column-is-layout-21 block-column-is-layout-flow hide-right"
         style="flex-basis:25%">
      <p><strong>Багаторічний досвід</strong></p>


      <p class="has-small-font-size">Our intimate knowledge of the industry allows us to craft a service uniquely
        tailored to your business needs.</p>
    </div>


    <div class="block-column is-layout-flow container-core-column-is-layout-22 block-column-is-layout-flow hide-left"
         style="flex-basis:25%">
      <p><strong>Турбота про вас</strong></p>


      <p class="has-small-font-size">In every endeavor, from collaboration to decision-making, we champion
        transparency, honesty, and sincerity.</p>
    </div>
  </div>
</div>

