{% load static %}

<div
    class="block-group alignfull has-link-color elements-943cb8569dd031e5a4b5d743d2d10d46 has-global-padding is-layout-constrained container-core-group-is-layout-44 block-group-is-layout-constrained"
    id="program"
    style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--50);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--50);padding-left:var(--preset--spacing--50)">
  <h1 class="block-heading alignwide has-text-align-center" style="line-height:1.2">Які тренування?</h1>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-10 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained "
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/tih/biber.gif' %}" alt="Promo 1" class="responsive-video">
          </figure>

          <p class="has-foreground-color has-text-color has-text-align-center">
            <strong>Justin Biber Dance Workout</strong><br>
            - Eenie Meenie (feat. Sean Kingston)<br>
            - Sorry<br>
            - Yummy<br>
            - Baby (ft. Ludacris)<br>
            - Stay (ft. The Kid Laroy)<br>
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow " style="flex-basis:100%;">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60);">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/tih/sl.gif' %}" alt="Promo 2" class="responsive-video">
          </figure>

          <p class="has-foreground-color has-text-color has-text-align-center">
            <strong>Slumber party workout</strong><br>
            - Price Tag (Jessie J)<br>
            - Unwritten (Natasha Bedingfield)<br>
            - Sweet but Psycho (Ava Max)<br>
            - Call Me Maybe (Carly Rae Jepsen)<br>
            - When You Look At Me (Christina Milian)<br>
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained responsive-program"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/tih/ohh.gif' %}" alt="Promo 3" class="responsive-video">
          </figure>

          <p class="has-foreground-color has-text-color has-text-align-center">
            <strong>Young Ukrainian party workout</strong><br>
            - Цілуй (Трінчер Анна і DEMCHUK)<br>
            - Хай пишуть (DOROFEEVA)<br>
            - А що? (MONATIK)<br>
            - Нарцис (Ann Black)<br>
            - Я у себе є (Діана Глостер)<br>
          </p>
        </div>

      </div>
    </div>
  </div>


  <div
      class="block-columns alignwide is-layout-flex container-core-columns-is-layout-11 block-columns-is-layout-flex">
    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/tih/mamb.gif' %}" alt="Promo 4" class="responsive-video">
          </figure>
          <p class="has-foreground-color has-text-color has-text-align-center">
            <strong>Old party workout</strong><br>
            - It's Raining Men (Geri Halliwell)<br>
            - SexyBack (Justin Timberlake)<br>
            - Mambo No. 5 (Lou Bega)<br>
            - What Is Love (Haddaway)<br>
            - Let's Get it Started (Black Eyed Peas)<br>
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/tih/bb.gif' %}" alt="Promo 5" class="responsive-video">
          </figure>
          <p class="has-foreground-color has-text-color has-text-align-center">
            <strong>BoomBox party workout</strong><br>
            - Поліна<br>
            - Супер-Пупер<br>
            - Зцапала-Злапала<br>
            - Віддаю<br>
            - Бета-каротин<br>
          </p>
        </div>

      </div>
    </div>


    <div class="block-column is-layout-flow block-column-is-layout-flow" style="flex-basis:100%">
      <div
          class="block-group is-content-justification-center is-nowrap is-layout-flex container-core-group-is-layout-24 block-group-is-layout-flex">
        <div
            class="block-group aligncenter has-primary-background-color has-background has-global-padding is-layout-constrained container-core-group-is-layout-22 block-group-is-layout-constrained"
            style="border-radius:8px;padding-top:var(--preset--spacing--60);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--60);padding-left:var(--preset--spacing--60)">
          <figure class="block-image size-large is-resized">
            <img src="{% static 'videos/tih/sl.gif' %}" alt="Promo 6" class="responsive-video">
          </figure>
          <p class="has-foreground-color has-text-color has-text-align-center">
            <strong>Ed Sheeran dance workout</strong><br>
            - Bad habits <br>
            - Shivers <br>
            - Bibia be ye ye<br>
            - 2 step (feat Antytila)<br>
            - Shape of you<br>
            - I Don’t Care (ft. Justin Biber)<br>
          </p>
        </div>

      </div>
    </div>
  </div>

  </div>
</div>

