{% load static %}
<html lang="uk" data-lt-installed="true">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <title>Біфіт</title>
  <link rel="stylesheet"
        href="{% static 'css/dashboard_min.css' %}">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/navigation.css' %}" rel="stylesheet">
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
  <link href="{% static 'css/_static.css' %}" rel="stylesheet">
  <link href="{% static 'css/global.css' %}" rel="stylesheet">
  <link href="{% static 'css/form.css' %}" rel="stylesheet">

  <script type="text/javascript"
          src="{% static 'js/_static.js' %}"></script>

  <!-- End Jetpack Open Graph Tags -->
  <link rel="icon" href="{% static 'icons/befit.png' %}" sizes="32x32">
  <link rel="icon" href="{% static 'icons/befit.png' %}" sizes="192x192">
  <link rel="apple-touch-icon" href="{% static 'icons/befit.png' %}">
  <script src="{% static 'js/actionbar.js' %}" defer=""></script>
  <link rel="stylesheet" id="gravatar-card-css" href="{% static 'css/hovercard.css' %}">
  <link href="{% static 'css/actionbar.css' %}" rel="stylesheet">
</head>

<body>
<div id="home" class="site-blocks">
  {% block header %}
    {% include "includes/header.html" %}
  {% endblock %}

  <main class="block-group is-layout-flow container-core-group-is-layout-47 block-group-is-layout-flow"
        id="-skip-link--target">
    <div class="block-group alignfull is-layout-flow block-group-is-layout-flow"
         style="margin-top:0px;margin-bottom:0px">
      <div class="block-cover alignfull is-light"
           style="padding-top:var(--preset--spacing--50);padding-right:var(--preset--spacing--50);padding-bottom:var(--preset--spacing--50);padding-left:var(--preset--spacing--50);min-height:760px">
        <span aria-hidden="true" class="block-cover__background has-background-dim-0 has-background-dim"></span><img
          class="block-cover__image-background image-1640" alt=""
          src="https://dotcompatterns.files.wordpress.com/2020/07/sawyer-bengtson-ltc4dxneezu-unsplash-edit.jpg"
          style="object-position:0% 60%" data-object-fit="cover" data-object-position="0% 60%">
        <div class="block-cover__inner-container is-layout-flow block-cover-is-layout-flow">
          <div class="block-group has-global-padding is-layout-constrained block-group-is-layout-constrained">
            <div
                class="block-columns alignright is-layout-flex container-core-columns-is-layout-1 block-columns-is-layout-flex">
              <div class="block-column is-layout-flow block-column-is-layout-flow">
                <h1 class="block-heading margin-bottom-half has-text-color"
                    style="color:#151515;font-size:clamp(28.836px, 1.802rem + ((1vw - 3.2px) * 2.405), 50px);line-height:1.2">
                  БіФіт – в тебе все вийде!</h1>


                <p class="margin-top-half has-text-color"
                   style="color:#151515;font-size:clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.341), 17px);line-height:1.65">
                  Твоє “сьогодні” визначає ким ти будеш завтра</p>


                <div class="block-buttons is-layout-flex block-buttons-is-layout-flex">
                  <div class="block-button has-custom-width block-button__width-50">
                    <a class="block-button__link element-button" href="#plans">Отримати доступ
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block why %}
      {% include "main/why.html" %}
    {% endblock %}

    {% block about %}
      {% include "main/about.html" %}
    {% endblock %}

    {% block plans %}
      {% include "main/plans.html" %}
    {% endblock %}

    <div id="myModal" class="modal">
      <div class="modal-content">
        <form method="POST">
          {% csrf_token %}
          <div class="row row-space">
            <div class="input-group">
              <label class="label">Імя</label>
              <input class="input--style-4" type="text" name="name">
            </div>
          </div>
          <div class="row row-space">
            <div class="input-group">
              <label class="label">Електронна пошта</label>
              <input class="input--style-4" type="email" name="email">
            </div>
          </div>
          <div class="row row-space">
            <div class="input-group">
              <label class="label">Номер телефону</label>
              <input class="input--style-4" type="text" name="phone">
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <button class="btn btn--radius-2 btn--blue" type="submit">ОПЛАТИТИ</button>
            </div>
            <div class="col-2">
              <button class="btn btn--radius-2 btn--orange" onclick="closeForm()">СКАСУВАТИ</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% block results %}
      {% include "main/results.html" %}
    {% endblock %}

    {% block advantages %}
      {% include "main/advantages.html" %}
    {% endblock %}

    <div class="block-group alignfull has-global-padding is-layout-constrained block-group-is-layout-constrained"
         id="author"
         style="margin-top:0px;margin-bottom:0px;padding-top:var(--preset--spacing--80);padding-right:var(--preset--spacing--60);padding-bottom:var(--preset--spacing--80);padding-left:var(--preset--spacing--60)">
      <div
          class="block-columns alignwide is-layout-flex container-core-columns-is-layout-9 block-columns-is-layout-flex">
        <div class="block-column is-vertically-aligned-center is-layout-flow block-column-is-layout-flow">
          <h2 class="block-heading has-text-align-left" style="margin-top:0px">АВТОРКА КУРСУ</h2>


          <h2 class="block-heading has-text-align-left" style="margin-top:0px">Катерина Агафонова </h2>


          <p class="has-text-align-left"><strong>Вища освіта НУФВСУ</strong><br>Спеціалізація «Фізкультурно-спортивна
            реабілітація».</p>


          <p class="has-text-align-left"><strong>Сертифікований тренер</strong><br>Практикую тренування у десятках
            напрямків:</p>


          <ul>
            <li>Функціональний тренінг із власною вагою</li>


            <li>Силові тренування з використанням малого обладнання</li>


            <li>Міофасціальний реліз</li>


            <li>Pilates matwork</li>


            <li>Фітнес для вагітних</li>


            <li>Stretching, mobility</li>


            <li>Масаж, робота з тригерами</li>


            <li>Спеціаліст зі зниження ваги тіла</li>
          </ul>


          <p class="has-text-align-left"><strong>У роботі спираюсь на:</strong></p>


          <ul>
            <li>теорію Томаса Маєрса. Анатомічні поїзди</li>


            <li>теорію Грея Кука «Суглоб за суглобом»</li>


            <li>систему пілатес, розробленою Йозефом Пілатесом</li>


            <li>Mind body</li>
          </ul>
        </div>
      </div>
    </div>

    {% block program %}
      {% include "main/program.html" %}
    {% endblock %}

    {% block faq %}
      {% include "main/faq.html" %}
    {% endblock %}

  </main>

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}

  <div class="block-group"></div>
</div>
<script src="{% static 'js/hovercard.js' %}"></script>
<script>
    function toggleContainer(button) {
        var container = button.closest(".faq-container");

        var answerContainer = container.querySelector(".faq-answer");

        if (answerContainer.style.display === "none" || answerContainer.style.display === "") {
            answerContainer.style.display = "block";
        } else {
            answerContainer.style.display = "none";
        }
    }
</script>
<script>
    function openForm() {
        document.getElementById("myModal").style.display = "flex";
    }

    function closeForm() {
        document.getElementById("myModal").style.display = "none";
    }
</script>
</body>
</html>